.container-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em 1em;
}

.name {
    grid-area: 1 / 1 / 2 / 3;
}

.about-1 {
    grid-area: 1 / 3 / 2 / 5;
}

.BMp img {
    border-radius: 18px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.BMp {
    grid-area: 2 / 1 / 3 / 3;
}

.about-2 {
    grid-area: 2 / 3 / 3 / 5;
}

.about-1 .about-2 p {
padding: 15%;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     ...
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     ...
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     ...
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     ...
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     ...
 }